# Data files
data/
# *.csv
# *.json

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
data/
*.wav
*.mp4
*.h5
*.pth
*.zip

